body {
  font-family: Arial, sans-serif;
  background-color: #00ffee78; /* Light blue background */
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #ff0000; /* Red text color */
}

#countdown {
  font-size: 64px;
  font-weight: bold;
  color: #333; /* Dark gray text color */
  margin-bottom: 50px;
}

#countdown span {
  display: inline-block;
  min-width: 80px;
  padding: 10px;
  background-color: #4dff00; /* Light green background */
  border-radius: 5px;
  box-shadow: 0 0 20px firebrick; /* Red shadow */
  margin: 0 10px;
}

#countdown span.num {
  background-color: #840058; /* Dark purple background */
  color: #FFF; /* White text color */
}
